// !FUENTES
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap');

//! RESET
html {
    font-size: 62.5%;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;

    body {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
    }
}

//! CLASES GENERALES

.contenedor{
    width: 120rem;
    margin: 0 auto;
}