// !PALETA DE COLORES
$color-principal:#687EFF;
$colo-secundario: black;
$color-terciario:#687EFF;
$color-cuarto: white ;

// !ESTILO DE FUENTES
$font-size: 2rem, 3rem, 4rem, 5rem;
$font-weight: 200, 400, 700;

