
header{
    h1{
        
        text-align: center;
        font-size: nth($font-size,2);
        font-weight: nth($font-weight ,3 );
        span{
            font-size: nth($font-size ,1 );
        }
}
}