.navBg {
    background-color: $color-principal ;

    .navPrincipal {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        padding: 0.5rem;

        a {
            font-size: nth($font-size , 1);
            font-weight: nth($font-weight, 2);
            color: $color-cuarto;
            text-decoration: none;
        }
    }
}